<mat-toolbar color="primary">
  <span class="title">Words App</span>
</mat-toolbar>


<div class="parent-card">
  <div class="add-word">
    <mat-card>
      <mat-card-title>Add word</mat-card-title>
      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="input-field" appearance="fill">
            <mat-label>enter word</mat-label>
            <input matInput #word class="word-input">
          </mat-form-field>
          <button mat-raised-button type="button" color="primary" (click)="onAddWord(word.value)">Add</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="word-lists">
    <mat-card>
      <mat-card-title>Word List</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let word of wordList;  let i = index ">
            <h3 mat-line> {{word}} </h3>
            <button mat-icon-button>
              <mat-icon class="mat-24" (click)="deleteWord(i)">delete</mat-icon>
            </button>
          </mat-list-item>
          </mat-list>
          <h4 *ngIf="wordList.length === 0">
            no words found! add some words
          </h4>
          </mat-card-content>
          </mat-card>
          </div>
</div>