.title {
    flex: 1 1 auto;
    text-align: center;
}

.parent-card {
    display: flex;
    border: 2px solid red;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    justify-content: space-around;
    margin: 2% 2% 2% 2%;
    background-color: #86c2dc;
    flex: 1 1 auto;
    text-align: center;
    
}

.add-word {
    height: 400px;
    width: 80%;
    margin: 2% 2% 2% 2%;
}

.word-lists {
    height: 400px;
    width: 80%;
    margin: 2% 2% 2% 2%;
}

.input-field {
    margin-right: 10px;
}